<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" th:href="@{/css/estilosAddProducto.css}">
    <script>
        function confirmarEliminacion() {
            if (confirm("¿Estás seguro de que quieres eliminar este cliente?")) {
                document.getElementById('formDelete').submit();
            }
        }
    </script>
</head>
<body>
<header>
    <nav th:replace="~{fragments/cabeceraAdmin}"></nav>
</header>

<div class="content">
    <h1>Página de administración</h1>
    <div th:if="${usuario != null}">
        <p>Bienvenido, <span th:text="${usuario.email}">Señor Administrador: </span>!</p>
        <a th:href="@{/administrador/cerrar_sesion}">Logout</a>
    </div>
    <div th:if="${usuario == null}">
        <a th:href="@{/loginAdmin}">Login</a>
        <a th:href="@{/register}">Register</a>
    </div>
    <div class="container">
        <h2 class="mt-5">Lista de Clientes</h2>
        <form id="formBusquedaCliente" th:action="@{/administrador/inicio/buscar-clientes}" method="post">

            <label for="email">Email:</label>
            <input type="text" id="email" name="usuarioEmail.email" th:value="${usuarioEmail?.email}" >

            <label for="fechaInicio">Fecha de inicio:</label>
            <input type="text" id="fechaInicio" name="fechaInicio" th:value="${fechaInicio}">

            <label for="fechaFin">Fecha de fin:</label>
            <input type="text" id="fechaFin" name="fechaFin" th:value="${fechaFin}">

            <label for="pais">Pais:</label>
            <select id="pais" name="pais.nombre" th:value="${pais?.nombre}">
                <option value="TODOS">TODOS</option>
                <option value="Portugal">PORTUGAL</option>
                <option value="Italia">ITALIA</option>
                <option value="Francia">FRANCIA</option>
                <option value="España">ESPAÑA</option>
                <option value="Grecia">GRECIA</option>
            </select>

            <input type="submit" value="Buscar clientes">
        </form>
        <table class="table table-bordered mt-3">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Pais</th>
                <th>FechaNac</th>
                <th>Genero</th>
                <th>Telefono Movil</th>
                <th>Tipo Documento</th>
                <th>Documento</th>
                <th>Comentarios</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cliente : ${clientes}">
                <td class="editable" data-field="nombre" data-id="${cliente.id}" th:text="${cliente.nombre}"></td>
                <td class="editable" data-field="apellidos" data-id="${cliente.id}" th:text="${cliente.apellidos}"></td>
                <td class="editable" data-field="email" data-id="${cliente.id}" th:text="${cliente.usuarioEmail.email}"></td>
                <td class="editable" data-field="pais" data-id="${cliente.id}" th:text="${cliente.pais.nombre}"></td>
                <td class="editable" data-field="fechaNacimiento" data-id="${cliente.id}" th:text="${cliente.fechaNacimiento}"></td>
                <td class="editable" data-field="genero" data-id="${cliente.id}" th:text="${cliente.genero.gen}"></td>
                <td class="editable" data-field="telefonoMovil" data-id="${cliente.id}" th:text="${cliente.telefonoMovil}"></td>
                <td class="editable" data-field="tipoDocumentoCliente" data-id="${cliente.id}" th:text="${cliente.tipoDocumentoCliente}"></td>
                <td class="editable" data-field="documento" data-id="${cliente.id}" th:text="${cliente.documento}"></td>
                <td class="editable" data-field="comentarios" data-id="${cliente.id}" th:text="${cliente.comentarios}"></td>
                <td>
                    <form id="formDelete" th:action="@{/administrador/inicio/eliminar/{id}(id=${cliente.id})}" method="post">
                        <button type="button" onclick="confirmarEliminacion()">Eliminar</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script th:src="@{/js/areaAdmin.js}"></script>
</html>
