<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Principal</title>
  <link rel="stylesheet" th:href="@{/css/estilosAddProducto.css}">
  <link rel="stylesheet" th:href="@{/css/usuario.css}">
  <script>
    function confirmarEliminacion() {
      if (confirm("¿Estás seguro de que quieres eliminar este cliente?")) {
        document.getElementById('formDelete').submit();
      }
    }
  </script>
</head>
<body>
<header>
  <nav th:replace="~{fragments/cabeceraAdmin}"></nav>
</header>

<div class="content">
  <h1>Lista de Usuarios</h1>
  <div class="container">
    <table class="table table-bordered mt-3">
      <thead>
      <tr>
        <th>Email</th>
        <th>Pregunta de Recuperación</th>
        <th>Respuesta de Recuperación</th>
        <th>Última Fecha de Conexión</th>
        <th>Número de accesos</th>
        <th>Bloquear</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.email}"></td>
        <td th:text="${usuario.pregRec}"></td>
        <td th:text="${usuario.respRec}"></td>
        <td th:text="${usuario.fechaUltimaConexion}"></td>
        <td th:text="${usuario.numeroAccesos}"></td>
        <td class="accion-bloquear" th:data-email="${usuario.email}"
            th:data-bloqueado="${usuario.isBloqueado()}"
            th:text="${usuario.isBloqueado() ? 'DESBLOQUEAR' : 'BLOQUEAR'}"></td>

        <td th:class="${usuario.isBloqueado() ? 'fondo-rojo' : 'fondo-verde'}"
            th:text="${usuario.bloqueado ? 'Bloqueado' : 'No bloqueado'}"></td>
        <td>
          <form id="formDelete" th:action="@{/administrador/usuarios/eliminar/{id}(id=${usuario.email})}" method="post">
            <button type="button" onclick="confirmarEliminacion()">Eliminar</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
<script th:src="@{/js/areaAdmin.js}"></script>
</html>